<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Logging -->
    <add key="EsLoggingUrl" value="http://ajf-elastic-01:9200" />
    <add key="LogFileDirectory" value="c:\Logs\" />
    <add key="LoggingLevel" value="Verbose" />
    <!-- Identity -->
    <add key="ReleaseNumber" value="1.0.0.0" />
    <add key="Environment" value="Dev" />
    <add key="ComponentName" value="Setup" />
    <add key="SuiteName" value="NsPlanner" />
    <!-- MsiBuilder -->
    <add key="CompanyName" value="Anders Juuls Firma" />
    <add key="UiExe" value="Ajf.NsPlanner.exe" />
    <add key="ProductName" value="Ajf.NsPlanner3" />
    <add key="PathChoices" value="Bin\Release|Bin\Debug|." />
    <add key="GuidBasis" value="39459FA0-9A08-478D-A4C3-66EEB56AE101" />
    <add key="MsiPrefix" value="Ajf.NsPlanner3" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>